@model ATTime.Models.CourseStudent
@using ATTime.Models
@{
    ViewBag.Title = "CourseName";
}



<p> StudentID <strong> @Model.StudentId</strong></p>
<p> FirstName <strong> @Model.Student.FirstName </strong></p>
<p> Lastname  <strong> @Model.Student.LastName</strong></p>
<p> Fag: <strong> @Model.Course.CourseName</strong></p>



<hr />
<br />



