@model ATTime.Models.AttendanceCourseStudent
@using ATTime.Models.ViewModel

<div class="">
 @foreach (ATTime.Models.AttendanceCourseStudent a in ViewBag.ATT)
 {
    <div class="row">
        <div class="col-6">@a.Student.FirstName @a.Student.LastName</div>
        <div class="col-6">
            @if (a.AttendanceId == 1)
            {
                <p>Didn't Attend</p>
            }
            else
            {
                <p>Attended</p>
            }
        </div>
    </div>
 }
</div>

