@model ATTime.Models.TeamOperator
@using ATTime.Models

@{
    ViewBag.Title = "_Teachers";
}

<tr class="SearchTeacher">
    <td>@Model.Operator.FirstName</td>
    <td>@Model.Operator.LastName</td>
    <td>

        @functions{
            public List<CourseOperator> GetOperatorCourse()
            {
                ATTime_DBContext db = new ATTime_DBContext();
                var testtest = db.CourseOperators
                    .Where(s => s.OperatorId == Model.OperatorId)
                    .ToList();
                return testtest;
            }
        }
        @if (GetOperatorCourse().Count() > 0)
        {
            foreach (var c in GetOperatorCourse())
            {
                <p> @Ccourse.course(c.CourseId)</p>
            }
        }





    </td>    
</tr>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>