@using  ATTime.Models
@{
    ViewBag.Title = "Calender";
}

<div class="row">
@foreach (CourseCalender day in @ViewBag.allcc)
 {
    <div class="col-2">
        <div class="col-12">
            <p>@day.Calender.CalenderName</p>
        </div>
        <div class="col-12">
            <p>@day.Course.CourseName</p>
        </div>
    </div>
 }
</div>


