@using ATTime.Models
@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h5>@ViewBag.msg</h5>
@using (Html.BeginForm("AddCalender", "AdminView", FormMethod.Post))
{
    <label>Start date</label>
    <input type="date" value="@ViewBag.start" name="start_date" id="Date_start" class="hasDatepicker" />
    <label>End date</label>
    <input type="date" value="@ViewBag.end" name="end_date" id="Date_end" class="hasDatepicker" />
    <button type="submit" class="btn btn-default m-1 p-1 btn-success">Add calender</button>
}

<div class="row">
 
</div>


