@using ATTime.Models.LoginViewModels;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<link href="~/wwwroot/css/AdminTeamView.css" type="text/css" />

<h1>Teams</h1>

  
        @foreach (ATTime.Models.Team team in ViewBag.team)
        {
            @Html.Partial("_Teams", team)
        }



