@using ATTime.Models.LoginViewModels;
@{
    ViewBag.Title = "Index";
}
<h2>
    @LoginCheckViewModel.Firstname(((int)ViewData["id"]), ((string)ViewData["Role"]))
    @LoginCheckViewModel.Lastname(((int)ViewData["id"]), ((string)ViewData["Role"]))
</h2>
<h5>@ViewData["Role"]</h5>

@Html.ActionLink("Admin", "Calender")