@model IEnumerable<ATTime.Models.Student>
@{
    ViewBag.Title = "Index";
}



<h1> SØGEFUNKTION TEST</h1>

<form action="" method="post" role="form">
    <div class="form-group">
        <label for="firstname">FirstName</label>
        <input type="text" name="firstname" value="" class="form-control" />
        <input type="submit" name="btn_search" value="Search name" class="btn btn-primary" />
    </div>
</form>

@{
    if (Model != null)
    {
        <table class="">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.FirstName</td>
                    <td>@s.LastName</td>
                    <td>@s.Username</td>
                    <td>@s.Psw</td>
                </tr>
            }
        </table>
    }

}
