@using ATTime.Models
@{
    ViewBag.Title = "student";
    Layout = "~/Views/Shared/_Layout_Teacher_two.cshtml";
}

<div class="row att_row">
    <h2 class="mb-1 text-lg-left w-100">Students</h2>
    <br />
    @foreach (TeamStudent student in ViewBag.students)
    {
        @Html.Partial("_student_teacher", student)
    }
</div>
