body {
}


.modal-body {
    margin:0 auto;
}

#studentForm {
    width:300px;
}

.modalBtn {
    background-color: #415B76;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:0;
    border-radius: 5px;
    padding:8px 16px 8px 16px !important;
}

    .modalBtn:hover {
        background-color: #233656;
    }

.selectList {
   background-color:transparent;
   border:1px solid black;
   float:left;
   width:60%;
}

#addCourseTD {
    width:25%;
}

.tableHead {
    background-color: #7B9BA6;
    color:white;
}

table {
    color: #505050;
}

tbody tr:nth-child(odd) {
    background-color: #CDD6D5;
}
tbody tr:nth-child(even) {
    background-color: #DDE3E1;
}

#SearchStudent {
    margin-right:400px;
    margin-left:275px;
}

#SearchTeacher {
    margin-right: 400px;
    margin-left: 275px;
}

.haps {
    display: inline-block;
    float: left;
    margin: 0px 5px 8px 6px !important;
}

.CreateDiv {
    display:inline-block;
    float:left;
}

.CreateDiv {
    margin:50px;
}