.d_blue {
    background-color: #233656;
}
.d_blue_text {
    color: #233656;
}

.b_blue {
    background-color: #415B76;
}

.b_blue_text {
    color: #415B76;
}

.l_blue {
    background-color: #7B9BA6;
}

.l_blue_text {
    color: #7B9BA6;
}

.l_grey {
    background-color: #CDD6D5;
}

.l_grey_text {
    color: #CDD6D5;
}

.l_light {
    background-color: #EEF4F2;
}

.l_light_text {
    color: #EEF4F2;
}