.d_blue {
    background-color: #233656 !important;
}
.d_blue_text {
    color: #233656;
}

.b_blue {
    background-color: #415B76;
}

.b_blue_text {
    color: #415B76;
}

.l_blue {
    background-color: #7B9BA6;
}

.l_blue_text {
    color: #7B9BA6;
}

.l_grey {
    background-color: #CDD6D5;
}

.l_grey_text {
    color: #CDD6D5;
}

.l_light {
    background-color: #EEF4F2;
}

.l_light_text {
    color: #EEF4F2;
}

.modalBtn {
    background-color: #415B76;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 5px;
    padding: 8px 16px 8px 16px !important;
    color: white;
}

.modalBtn:hover {
    background-color: #233656;
}

.TeamBtn {
    background-color: white;
    width: 100%;
    padding: 10px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    transition: all 0.2s;
    cursor: pointer;
}

.TeamBtn:hover {
    background-color: #F9F9F9;
    padding: 0;
}

.TeamBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.TeamBtn:focus {
    outline: 0;
}

.TeamBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.TeamBtn:hover span {
    padding-right: 25px;
}

    .TeamBtn:hover span:after {
        opacity: 1;
        right: 0;
    }

.TeamBtn:active {
    color: white;
    background-color: #233656;
    transition: 0.1s;
}
 /*-------------------------------------------- Navigation -------------------------------------------*/

 h1, h2, h3, h4 {
     font-family:'Lato';
 }

body {
    font-family: 'rawline', sans-serif;
}
a {
    font-family: 'rawline', sans-serif;
}

.container {
    margin-top: 5%;
}

.navigation-left {
    background-color: #415B76;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: block;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.nav-link a {
    color: white;
    width: 160px;
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'rawline';
    font-size: 18px;
}

   .nav-link a:hover {
        background-color: #CDD6D5;
        color: black;
        text-decoration: none;
        width:160px;
    }

.name {
    color: white;
    font-size: 23px;
    text-align: center;
}

.role {
    color: white;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.knap {
    cursor: pointer;
}
.knap:hover {
    text-decoration:underline;
}
/*  ------------------------------------------- LOGIN ------------------------------------------ */

.wrapper {
    margin-top: 12%;
    vertical-align: middle;
}

.front-btn {
    width: 200px;
    margin-left: 3.5%;
}

.single-line {
    width: 275px;
    height: 40px;
}

.fas {
    color: #415B76;
}

.fa-unlock-alt, .fa-user-alt {
    padding: 0 10px;
}

.logo {
    width: 30%;
    height: auto;
}


/*  ------------------------------------------- Student ------------------------------------------ */
.body-student {
    text-align: center;
    padding-top: 100px;
    font-family: 'rawline', sans-serif;
}