body {
}
.show {
    position: fixed;
    width: 400px;
    left: calc(50% - 150px);
    top: 100px;
    border: 1px solid #808080;
    background-color:white;
    z-index: 1000;
    padding: 20px;
}
.did {
    width:20px;
    height: 20px;
    border-radius: 200px;
    background-color: green;
    
}
.didn {
    width: 20px;
    height: 20px;
    border-radius: 200px;
    background-color: red;
}
.blue_tab_under {
    min-height:100px;
    text-align:center;
}
.blue_tab:nth-child(odd) {
    background-color: #CDD6D5;
}
.blue_tab:nth-child(even) {
    background-color: #DDE3E1;
}